# Exercici - Regressió lineal - Beisbol

Volem analitzar si existeix una relació entre el número de batudes que realitza un equip de beisbol i el número d’entrades que aconsegueix.

En cas d’existir aquesta relació caldria establir un model per poder predir el resultat d’un partit.

**Justifica els resultats mitjançant estadístics i gràfics.**

In [1]:
import pandas as pd
import seaborn as sns

In [11]:
equips = ["Texas","Boston","Detroit","Kansas","St.","New_S.","New_Y.",
             "Milwaukee","Colorado","Houston","Baltimore","Los_An.","Chicago",
             "Cincinnati","Los_P.","Philadelphia","Chicago","Cleveland","Arizona",
             "Toronto","Minnesota","Florida","Pittsburgh","Oakland","Tampa",
             "Atlanta","Washington","San.F","San.I","Seattle"]

num_batudes = [5659,  5710, 5563, 5672, 5532, 5600, 5518, 5447, 5544, 5598,
                   5585, 5436, 5549, 5612, 5513, 5579, 5502, 5509, 5421, 5559,
                   5487, 5508, 5421, 5452, 5436, 5528, 5441, 5486, 5417, 5421]
    
entrades = [855, 875, 787, 730, 762, 718, 867, 721, 735, 615, 708, 644, 654, 735,
          667, 713, 654, 704, 731, 743, 619, 625, 610, 645, 707, 641, 624, 570,
          593, 556]

pd.DataFrame({ "equips": equips,
              "num_batudes":num_batudes,
              "entrades" :entrades
})

          equips  num_batudes  entrades
0          Texas         5659       855
1         Boston         5710       875
2        Detroit         5563       787
3         Kansas         5672       730
4            St.         5532       762
5         New_S.         5600       718
6         New_Y.         5518       867
7      Milwaukee         5447       721
8       Colorado         5544       735
9        Houston         5598       615
10     Baltimore         5585       708
11       Los_An.         5436       644
12       Chicago         5549       654
13    Cincinnati         5612       735
14        Los_P.         5513       667
15  Philadelphia         5579       713
16       Chicago         5502       654
17     Cleveland         5509       704
18       Arizona         5421       731
19       Toronto         5559       743
20     Minnesota         5487       619
21       Florida         5508       625
22    Pittsburgh         5421       610
23       Oakland         5452       645
24         Tampa         5436       707
25       Atlanta         5528       641
26    Washington         5441       624
27         San.F         5486       570
28         San.I         5417       593
29       Seattle         5421       556